name: Java CI/CD with Gradle
on:
  push:
    branches: [ "develop" ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Make application-secrets.yml
      run: |
        touch ./src/main/resources/application-secret.yml
        echo "${{ secrets.SECRETS}}" | base64 --decode > src/main/resources/application-secret.yml
        
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

    - name: Gradle Test And Create API SPEC
      run: ./gradlew copyOasToSwagger

    - name: BootJar 
      run: ./gradlew bootJar
      
      # DockerHub 로그인
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      # DockerHub Push
    - name: Build and Push Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/greenroom .
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/greenroom
 
  deploy:  
    runs-on: ubuntu-latest
    needs: build
    steps:
      # AWS 배포
      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd greenroom
            sudo docker compose down
            sudo docker rmi ${{ secrets.DOCKER_HUB_USERNAME }}/greenroom:latest
            sudo docker compose up -d     
